:root {
	--white: #fff;
	--black: #000;

	--rounded-1: 4px;
	--rounded-full: 50%;

	--ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);

	--background-1: #fcfcfc;
	--background-2: #e8e8e8;
	--background-3: #dddddd;
	--background-4: #dedede;
	--foreground: #000;

	--background-info: #3b91f4;
	--background-warning: #ffe70e;
	--background-danger: #e82828;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	background: var(--background-1);
	color: var(--foreground);
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		'Adwaita Sans',
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	cursor: pointer;
	transition: all 0.1s var(--ease-in-out-expo);

	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--rounded-1);
	padding: 8px 18px;
	background: var(--background-4);

	&:hover {
		filter: brightness(0.9);
	}

	&:active {
		filter: brightness(0.8);
	}

	&.danger {
		background: var(--background-danger);
		color: var(--white);
	}

	&.icon-button {
		background: transparent;
		border: none;
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;

		&:hover {
			filter: brightness(1.1);
		}

		&:active {
			filter: invert(1);
		}
	}
}

.screen-center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100vh;
}

/* FIXME: move these to their respective components, can't do that right now */

#preview {
	aspect-ratio: 16/9;
	width: 100%;
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	& video {
		width: 100%;
	}

	& #alert {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
		height: 100%;
		gap: 4px;
		border-radius: var(--rounded-1);
		transition: all 0.4s var(--ease-in-out-expo);
		background: var(--background-3);
		padding: 0 12px;

		&:hover {
			filter: brightness(0.9);
		}

		&:active {
			filter: brightness(0.8);
		}

		& img {
			user-select: none;
			transition: all 0.4s var(--ease-in-out-expo);
			width: 32px;
		}
	}

	& #stop-preview-button {
		position: absolute;
		top: 0;
		right: 0;
		margin: 24px;
	}
}

#settings-section {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

dialog::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(250, 250, 250, 0.8);
	backdrop-filter: blur(2px);
}

.help-dialog {
	justify-self: center;
	align-self: center;
	border: 1px solid black;
	border-radius: var(--rounded-1);
	padding: 4px;
	min-width: 240px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	& article {
		margin-top: 12px;
	}
}

.help-dialog:open {
	display: flex;
	flex-direction: column;
}

.help-dialog form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.help-dialog article {
	white-space: pre-wrap;
}
